<h1> <u>Drought Prediction</u>: Data Wrangling </h1>

In [1]:
# Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Local location of the data
# local_data = 'D:\\Data_Science\\DroughtProject\\Data\\' # Location on Windows 
local_data = '/Users/tanishalohchab/Downloads/drought_prediction-main/dataset/' # Location on Linux

# The data is split into four csv files.
# Load all four files
soil_set = pd.read_csv(local_data + 'soil_data.csv')
test_set = pd.read_csv(local_data + 'test_timeseries.csv')
train_set = pd.read_csv(local_data + 'train_timeseries.csv')
validation_set = pd.read_csv(local_data + 'validation_timeseries.csv')

In [8]:
validation_set['date'] = pd.to_datetime(validation_set['date'])

In [10]:
# print(validation_set.date.describe(datetime_is_numeric=True))
# Ensure 'date' column is in datetime format
validation_set['date'] = pd.to_datetime(validation_set['date'], errors='coerce')

# Compute numeric statistics manually
date_min = validation_set['date'].min()
date_max = validation_set['date'].max()
date_range = date_max - date_min
date_mean = validation_set['date'].mean()
date_median = validation_set['date'].median()

# Display statistics
print(f"Min: {date_min}")
print(f"Max: {date_max}")
print(f"Range: {date_range}")
print(f"Mean: {date_mean}")
print(f"Median: {date_median}")

Min: 2017-01-01 00:00:00
Max: 2018-12-31 00:00:00
Range: 729 days 00:00:00
Mean: 2017-12-31 12:00:00
Median: 2017-12-31 12:00:00

In [12]:
# test_set = pd.read_csv(local_data + 'test_timeseries.csv')
# test_set['date'] = pd.to_datetime(test_set['date'])
# print(test_set.date.describe(datetime_is_numeric=True))
# Read CSV and convert 'date' column to datetime
test_set = pd.read_csv(local_data + 'test_timeseries.csv')
test_set['date'] = pd.to_datetime(test_set['date'], errors='coerce')

# Compute summary statistics manually
date_min = test_set['date'].min()
date_max = test_set['date'].max()
date_range = date_max - date_min
date_mean = test_set['date'].mean()
date_median = test_set['date'].median()

# Print results
print(f"Min: {date_min}")
print(f"Max: {date_max}")
print(f"Range: {date_range}")
print(f"Mean: {date_mean}")
print(f"Median: {date_median}")

Min: 2019-01-01 00:00:00
Max: 2020-12-31 00:00:00
Range: 730 days 00:00:00
Mean: 2019-12-31 23:59:59.999999232
Median: 2020-01-01 00:00:00

In [14]:
# Read CSV and convert 'date' column to datetime
train_set = pd.read_csv(local_data + 'train_timeseries.csv')
train_set['date'] = pd.to_datetime(train_set['date'], errors='coerce')

# Compute statistics manually
print("Datetime Column Statistics:")
print(f"Min: {train_set['date'].min()}")
print(f"Max: {train_set['date'].max()}")
print(f"Range: {train_set['date'].max() - train_set['date'].min()}")
print(f"Mean: {train_set['date'].mean()}")
print(f"Median: {train_set['date'].median()}")

Datetime Column Statistics:
Min: 2000-01-01 00:00:00
Max: 2016-12-31 00:00:00
Range: 6209 days 00:00:00
Mean: 2008-07-01 11:59:59.999999744
Median: 2008-07-01 12:00:00

In [15]:
test_set.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2019-01-01,2.25,100.51,9.69,14.71,13.55,13.52,17.38,10.92,...,14.63,1.20,1.50,0.79,0.71,2.74,4.01,1.23,2.78,0.0
1,1001,2019-01-02,4.94,100.48,8.65,13.05,11.83,11.74,17.76,9.54,...,13.06,1.02,1.35,0.32,1.03,2.13,3.37,0.56,2.81,NaN
2,1001,2019-01-03,20.74,100.03,8.59,12.12,11.67,11.67,13.74,10.44,...,12.12,1.83,4.23,0.34,3.88,3.41,7.49,0.72,6.77,NaN
3,1001,2019-01-04,16.17,99.47,7.93,11.80,10.38,9.59,18.19,5.44,...,11.72,3.75,5.25,2.34,2.91,6.78,9.61,4.90,4.71,NaN
4,1001,2019-01-05,0.01,100.39,5.32,7.91,4.73,4.71,14.37,3.68,...,7.75,2.32,2.90,1.69,1.21,4.42,5.87,3.15,2.72,NaN

In [16]:
validation_set.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2017-01-01,32.50,100.02,10.47,14.69,14.47,14.47,17.68,10.53,...,14.63,2.14,2.71,1.52,1.19,4.40,5.96,2.25,3.71,NaN
1,1001,2017-01-02,63.52,100.04,12.75,17.96,17.75,17.75,20.30,16.14,...,17.85,2.75,4.31,1.60,2.71,5.50,8.16,4.05,4.11,NaN
2,1001,2017-01-03,18.82,99.69,9.74,14.24,13.44,13.44,18.48,9.29,...,14.06,2.25,3.73,1.64,2.09,4.80,7.27,2.54,4.72,2.0
3,1001,2017-01-04,0.01,100.02,5.21,8.10,3.86,3.88,11.74,2.12,...,8.08,2.63,3.95,1.34,2.60,4.98,6.16,3.36,2.80,NaN
4,1001,2017-01-05,0.01,99.89,4.54,5.91,2.20,2.22,13.07,-0.18,...,5.85,1.76,2.76,0.47,2.28,3.43,4.70,0.66,4.04,NaN

In [17]:
train_set.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,11.46,...,14.65,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.81,NaN
1,1001,2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,12.61,...,16.60,2.52,3.43,1.83,1.60,5.33,6.13,3.72,2.41,NaN
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,18.41,4.03,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,2.65,1.60,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN